@import "./reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/default";
@import "./themes/custom";

body {
  font-size: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;

  &__page {
    display: flex;
  }



  &__content {
    flex-grow: 1;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    width: 100%;
  }
}
