@import "./reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/default";

.app {
  font-size: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;

  &__page {
    display: flex;
  }

  &__content {
    flex-grow: 1;
    padding: 20px;
  }
}
