.add-comment-form {
  border: 1px solid var(--primary-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  width: 100%;

  &__input {
    flex-grow: 1;
  }
}
