.button {
  cursor: pointer;
  color: var(--secondary-color);

  &__clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
  }

  &__outline {
    border: 1px solid var(--primary-color);
    color: var(--secondary-color);
    background: none;
  }

  &__outline-error {
    border: 1px solid var(--primary-error-color);
    color: var(--primary-error-color);
    background: none;
  }

  &__praymary {
    background: var(--button-background);
    color: var(--secondary-color);
    border: 1px solid var(--button-background);
  }

  &__square-m {
    padding: 8px;
  }

  &__square-l {
    padding: 10px;
  }

  &__square-xl {
    padding: 12px;
  }

  &__size-m {
    padding: 8px 16px;
  }

  &__size-l {
    padding: 10px 20px;
  }

  &__size-xl {
    padding: 12px 24px;
  }

  &__font-m {
    font: var(--font-m);
  }

  &__font-l {
    font: var(--font-l);
  }

  &__font-xl {
    font: var(--font-xl);
  }

  &:hover {
    opacity: 0.7;
    fill-opacity: 0.7;
    stroke-opacity: 0.7;
  }

  &__disabled {
    cursor: default;
    opacity: 0.6;
    fill-opacity: 0.6;
    stroke-opacity: 0.6;
  }
}
