.button {
  
  cursor: pointer;
  color: var(--primary-color);

  &__clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
  }

  &__outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
  }

  &__praymary {
    background: var(--button-background);
    color: var(--secondary-color);
    border: 1px solid var(--button-background);
  }

  &__square-m {
    padding: 8px;
  }

  &__square-l {
    padding: 10px;
  }

  &__square-xl {
    padding: 12px;
  }

  &__size-m {
    padding: 8px 12px;
  }

  &__size-l {
    padding: 10px 16px;
  }

  &__size-xl {
    padding: 12px 20px;
  }

  &__font-m {
    font: var(--font-m);
  }

  &__font-l {
    font: var(--font-l);
  }

  &__font-xl {
    font: var(--font-xl);
  }

  &:hover {
    opacity: 0.7;
    fill-opacity: 0.7;
    stroke-opacity: 0.7;
  }
}

.outlineRed {
  border: 1px solid var(--button-background-red);
  color: var(--button-background-red);
  background: none;
}

.disabled {
  opacity: 0.5;
}
