.sidebar {
  height: calc(100vh - var(--navbar-height));
  max-width: var(--sidebar-width);
  width: 100%;
  background: var(--navbar-bg-color);
  position: relative;
  transition: width 0.3s;

  &__switchers {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 20px;
  }

  &__link {
    opacity: 1;
  }

  &__items {
    margin-top: 32px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
  }

  &__collapsed {
    width: var(--sidebar-width-collapsed);
    position: relative;

    .sidebar__switchers {
      flex-direction: column;
    }

    .sidebar__item {
      display: flex;
      justify-content: center;
      padding: 0;
    }

    .sidebar__link {
      opacity: 0;
      transition: 0.3s opacity;
      width: 0;
    }
  }

  &__collapsed-btn {
    position: absolute;
    right: 0;
    bottom: 160px;
  }

  &__icon {
    fill: var(--secondary-color);
  }
}

.sidebar-redesigned {
  background: var(--light-bg-redesigned);
  width: 220px;
  height: 100%;
  border-radius: 32px;

  &__collapsed {
    width: var(--sidebar-width-collapsed);
    position: relative;

    .sidebar__switchers {
      flex-direction: column;
    }

    .sidebar__item {
      display: flex;
      justify-content: center;
      padding: 0;
    }

    .sidebar__link {
      opacity: 0;
      transition: 0.3s opacity;
      width: 0;
    }
  }

  &__logo {
    padding-top: 20px;
  }
}
