.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0 12px;

  &__link {
    margin-left: 10px;
    opacity: 1;
    color: var(--primary-color);
  }

  &__collapsed {
    .sidebar-item__link {
      opacity: 0;
      transition: 0.3s opacity;
      width: 0;
    }
  }

  &__icon{
    fill: var(--primary-color);
  }
}
