.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0 12px;
  overflow: hidden;
  transition: width 0.3s ease;

  &__link {
    margin-left: 10px;
    opacity: 1;
    color: var(--primary-color);
    white-space: nowrap;
    transition: opacity 0.3s ease, margin-left 0.3s ease;
  }

  &__collapsed {
    width: 80px;
    justify-content: center;

    .sidebar-item__link {
      opacity: 0;
      margin-left: 0;
    }

    .sidebar-item__icon {
      fill: var(--primary-color);
    }
  }

  &__icon {
    fill: var(--primary-color);
    font-size: 24px;
    flex-shrink: 0;
  }
}

.sidebar-item-redesign {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  padding: 0 16px;

  &__collapsed {
    padding: 0;
    gap: 0;
    justify-content: center;

    .sidebar-item-redesign {
      &__link {
        opacity: 0;
        width: 0;
      }
    }
  }

  &__active {
    background: linear-gradient(89.97deg, rgba(94, 211, 243, 0.3) 1.15%, rgba(94, 211, 243, 0) 99.97%);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 2px;
      left: 0;
      background: var(--accent-redesigned);
      height: 100%;
    }
  }

  &__icon {
    fill: var(--primary-color);
  }
}
