.button-notification {
  &__popover {
    min-height: 150px;
    max-height: 300px;
    width: 500px;
    overflow-y: auto;
    background: var(--dark-bg-redesigned);
  }
}

.button-notification-deprecated {
  &__popover {
    min-height: 150px;
    max-height: 300px;
    width: 500px;
    overflow-y: auto;
    background: var(--dark-bg-redesigned);
  }
}
