.code {
  position: relative;
    background: #272822; // Фон Monokai
    color: #f8f8f2; // Основной текст
    border-radius: 6px;
    padding: 16px;
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    line-height: 1.5;
    tab-size: 2;
    overflow-x: auto;

  &__copy-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    opacity: 0.5;
    transition: opacity 0.2s;
    padding: 4px;
    &:hover {
        opacity: 1;
      }
  }

    

  &__copy-icon path {
    stroke: var(--primary-color);
  }
}

.token {
  &.comment {
    color: #75715e;
  }

  &.string {
    color: #e6db74;
  }

  &.keyword {
    color: #f92672;
  }

  &.function {
    color: #66d9ef;
  }

  &.punctuation {
    color: #f8f8f2;
  }

  &.operator {
    color: #f92672;
  }

  &.number {
    color: #ae81ff;
  }
}
