.list-box {
    position: relative;

  &_active {
    background: var(--inverted-primary-color);
  }

  &_disabled {
    opacity: 0.7;
  }

  &__item {
    padding: 10px 20px;
  }

  &__options {
    background: var(--listbox-bg);
    position: absolute;
    z-index: 10000;
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--listbox-bg);
  }

  &__trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
  }

  &__options-bottom {
    top: 100%;
  }

  &__options-top {
    bottom: 100%;
  }
}
