.article-view-selector {
  &__not-selected {
    fill: var(--secondary-color);
  }
}

.article-view-selector-redesigned {
  &__not-selected {
    color: var(--light-bg-redesigned) !important;
    fill: var(--light-bg-redesigned) !important;
  }
}
