.app-custom-theme {
  --bg-color: #F4F7FB;
  --inverted-bg-color: #F4F4FB;
  --primary-color: #2a049e;
  --secondary-color: #89b6ff;
  --navbar-bg-color: #4267a4;
  --inverted-primary-color: #cfcfdc;
  --inverted-secondary-color: #5e9bff;
  --button-background: #082e56;

  /* skeleton */
  --skeleton-color: #ffffff;
  --skeleton-shadow: #cacaca;

      /* Цвет */
  --primary-bg-color: #e8e8ea;
  --link-color: #e7ebe7;
  --loader-bg-color: #20208b;
  --black: #000;

  --primary-error-color: #ff0000;

  //card
  --card-bg: #dfafaf;
}
