.app-custom-theme {
  --bg-color: #F4F7FB;
  --inverted-bg-color: #F4F4FB;
  --primary-color: #0F2733;
  --secondary-color: #5e9bff;
  --navbar-bg-color: #4267a4;
  --inverted-primary-color: #cfcfdc;
  --inverted-secondary-color: #5e9bff;
  --button-background: #082e56;

      /* Цвет */
  --primary-bg-color: #e8e8ea;
  --link-color: #e7ebe7;
  --loader-bg-color: #20208b;
  --black: #000;

  --primary-error-color: #ff0000;
}
