.app-dark-theme {
  --bg-color: #fcfcfc;
  --inverted-bg-color: #cfcfdc;
  --primary-color: #085615;
  --secondary-color: #461a93;
  --navbar-bg-color: #283750;
  --inverted-primary-color: #5e9bff;
  --inverted-secondary-color: #cfcfdc;
}
