.app-dark-theme {
  --bg-color: #fcfcfc;
  --inverted-bg-color: #cfcfdc;
  --primary-color: #2aa33e;
  --secondary-color: #b099d7;
  --navbar-bg-color: #283750;
  --inverted-primary-color: #5e9bff;
  --inverted-secondary-color: #cfcfdc;

  --loader-bg-color: #69697a;
  --primary-bg-color: #e8e8ea;
  --link-color: #e7ebe7;
  --black: #000;

  --primary-error-color: #ff0000;

  /* skeleton */
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  //card
  --card-bg: #dfafaf;

  //listbox
    --listbox-bg: #dfafaf;
}
