.app-default-theme {
  --bg-color: #cfcfdc;
  --inverted-bg-color: #191999;

  --primary-color: #082e56;
  --secondary-color: #5e9bff;
  --navbar-bg-color: #4267a4;

  --inverted-primary-color: #cfcfdc;
  --inverted-secondary-color: #5e9bff;
}
