:root {
  --bg-color: #323267;
  --inverted-bg-color: #cfcfdc;
  --primary-color: #7a7a91;
  --secondary-color: #61716d;
  --navbar-bg-color: #25254d;
  --inverted-primary-color: #5e9bff;
  --inverted-secondary-color: #cfcfdc;
  --loader-bg-color: #69697a;
  --primary-bg-color: #e8e8ea;
  --link-color: #e7ebe7;
  --black: #000;
  --primary-error-color: #f00;
  /* skeleton */
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;
  //card
  --card-bg: #414e83;
  --notification-bg: #2a2a58;
  //listbox
  --listbox-bg: #414e83;
  //code
  --code-bg: #171730
}
