.articles-page-filters {
  &__sort-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

  &__search {
    margin-top: 16px;
  }

  &__tabs {
    margin-top: 16px;
  }
}
