

.paragraf {
  font: var(--font-m);
  color: var(--secondary-color);

  // &__title {
  //   font: var(--font-l);
  //   color: var(--primary-color);
  // }

  &__text {
    font: var(--font-m);
    color: var(--primary-color);  
  }

  &__error {
    .paragraf__title {
      color: var(--primary-error-color);
    }

    .paragraf__text {
      color: var(--primary-error-color);
    }
  }

  &__inverted {
    .title {
      color: var(--inverted-primary-color);
    }

    .text {
      color: var(--inverted-secondary-color);
    }
  }

  &__left {
    text-align: left;
  }

  &__right {
    text-align: right;
  }

  &__center {
    text-align: center;
  }

  &__size_m {
    .paragraf__title {
      font: var(--font-l)
    }
    .paragraf__text {
      font: var(--font-m)
    }
  }

  &__size_l {
    .paragraf__title {
      font: var(--font-xl)
    }

    .paragraf__text {
      font: var(--font-l)
    }
  }

  &__size_s {
    .paragraf__title {
      font: var(--font-m)
    }

    .paragraf__text {
      font: var(--font-s)
    }
  }
}
