.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  &__open {
    opacity: 1;
    pointer-events: all;

    .modal__content {
      transform: scale(1);
    }
  }

  &__closing {
    .modal__content {
      transform: scale(0.2);
    }
  }

  &__content {
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s transform;
    transform: scale(0.5);
    max-width: 60%;
    z-index: var(--modal-z-index);
    background: var(--light-bg-redesigned);
    ;
  }
}

.modal-deprecated {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transform: scale(1);
  transition: opacity 0.3s, transform 0.3s;

  &__open {
    opacity: 1;
    pointer-events: all;

    .modal-deprecated__content {
      transform: scale(1);
    }
  }

  &__closing {
    .modal-deprecated__content {
      transform: scale(0.2);
    }
  }

  &__content {
    background: var(--bg-color);
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s transform;
    transform: scale(0.5);
    max-width: 50%;
    height: fit-content;
    z-index: var(--modal-z-index);
  }
}
