.navbar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  height: var(--navbar-height);
  background: var(--navbar-bg-color);

  &__login {
    margin-left: auto;
  }

  &__link {
    margin-right: 16px;
  }
}
