.drop-down {
  // &__btn {
  //   background: none;
  //   outline: none;
  //   margin: 0;
  //   padding: 0;
  //   border: none;
  //   cursor: pointer;
  // }

  &__menu {
    background: var(--card-bg);
    position: absolute;
    z-index: 10000;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    flex-direction: column;
    display: flex;
  }

  &__item {
    padding: 8px 24px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;

    // &_active {
    //   background: var(--inverted-primary-color);
    // }
  }
}
