.button {
  cursor: pointer;
  color: var(--text-redesigned);
  padding: 6px 16px;
  display: flex;
  align-items: center;

  &:hover {
    color: var(--accent-redesigned);

    .button__addon-right svg,
    .button__addon-left svg {
      color: var(--accent-redesigned);
      // fill: var(--accent-redesigned);
    }
  }

  &__clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
  }

  &__outline {
    border: 1px solid var(--icon-redesigned);
    background: none;
    border-radius: 34px;

    &:hover {
      border: 1px solid var(--accent-redesigned);
    }
  }

  &__outline-error {
    border: 1px solid var(--primary-error-color);
    color: var(--primary-error-color);
    background: none;
  }

  &__praymary {
    background: var(--button-background);
    color: var(--secondary-color);
    border: 1px solid var(--button-background);
  }

  &__filled {
    background: var(--light-bg-redesigned);
    border: none;
    outline: none;
    border-radius: 34px;
  }

  &__square-m {
    padding: 8px;
  }

  &__square-l {
    padding: 10px;
  }

  &__square-xl {
    padding: 12px;
  }

  &__size {
    &_m {
      padding: 8px 16px;
    }

    &_l {
      padding: 10px 20px;
    }

    &_xl {
      padding: 12px 24px;
    }
  }

  &__font-m {
    font: var(--font-m-redesigned);
  }

  &__font-l {
    font: var(--font-l-redesigned);
  }

  &__font-xl {
    font: var(--font-xl-redesigned);
  }

  &__disabled {
    cursor: default;
    opacity: 0.6;
    fill-opacity: 0.6;
    stroke-opacity: 0.6;
  }

  &__fullWidth {
    width: 100%;
  }

  &__addon-right,
  &__addon-left {
    display: flex;
  }

  &__with-addon-left {
    padding: 0 16px;
  }

  &__with-addon-right {
    padding: 0 16px;
  }

  .button__addon-right svg,
  .button__addon-left svg {
    color: var(--hint-redesigned);
    // fill: var(--accent-redesigned);
  }
}
