.comment-card {
  padding: 10px;
  border: 1px solid var(--primary-color);

  &__header {
    display: flex;
    align-items: center;
  }

  &__username {
    margin-left: 10px;
  }

  &__text {
    margin-top: 10px;
  }

  &__loading {
  border: none;
}
}
