.list-box {
  &__trigger {
    outline: none;
    margin: 0;
    cursor: pointer;
    // color: var(--secondary-color);
    // background: var(--button-background);
    // border: 1px solid var(--button-background);
    padding: 8px 12px;
  }

  &__options {
    background: var(--dark-bg-redesigned);
    position: absolute;
    z-index: 10000;
    border-radius: 12px;
    box-shadow: 4px 4px 8px var(--dark-bg-redesigned);
  }

  &__item {
    padding: 8px 20px;
  }
}
