.input {
  display: flex;
  align-items: center;
  border-radius: 48px;
  padding: 8px 16px;
  border: 2px solid var(--icon-redesigned);
  height: 32px;
  width: 100%;

  &__focused {
    border: 2px solid var(--accent-redesigned);

    .input__addon-right svg,
    .input__addon-left svg {
      color: var(--accent-redesigned);
      // fill: var(--accent-redesigned);
    }
  }

  &__readonly {
    opacity: 0.6;
  }

  &__tag {
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-redesigned);
    background: none;

    &::placeholder {
      color: var(--hint-redesigned);
    }
  }

  &__addon-right,
  &__addon-left {
    display: flex;
  }

  &__with-addon-left {
    padding-left: 8px;
  }

  &__with-addon-right {
    padding-right: 8px;
  }
}
